
body {
	background-color:#efdbc6;	
}



div {
	height:38px;
	width:135px;
	border-color:black;
	border-style:solid;
	border-width:2px;
	margin:auto;
	background-color:#af6d59;
	border-bottom-width:5px;
	border-left-width:5px;
	border-right-width:5px;
	border-top-width:5px;
}

a {
	text-decoration:none;
	font-size:30px;
	font-family:Della Respira,serif;
	font-weight:bold;
	color:white;
}

a:hover{
	color:black;
}

#flag{
	font-family:Della Respira,serif;
	font-size:30px;
	margin-top:90px;
}

#fl2{
	margin-left:500px;
}


#cafe {
	text-align:center;
	font-family:Della Respira,serif;
	font-size:30px;
	color:black;
	padding-bottom:2px;
	padding-top:30px;
	font-weight:bold;
	font-style:italic;
}

#bot{
	padding-bottom:30px;
}


footer{
	font-weight:bold;
	
	font-family:Della Respira,serif;
}

h2{
	padding-top:60px;
}

hr {
	min-height:5px;
	color:black;
	border-color:black;
	background-color:black;
}


.verde {
	font-family:Della Respira,serif;
	font-size:30px;
}

.della {
	
	font-family:Della Respira,serif;
	
}

#atrip{
	font-size:35px;
	font-weight:bold;
}

#intro{
	font-size:20px;
}

#bio{
	font-size:20px;
}

figcaption{
	font-family:Della Respira,serif;
	font-weight:bold;
	font-size:18px;
}

.paratext{
	font-family:Della Respira,serif;
	font-size:25px;
}