body {
	background: linear-gradient(#4e88e5,white,#4e88e5);	
}

div {
	height:38px;
	width:110px;
	border-color:blue;
	border-style:solid;
	border-width:2px;
	margin:auto;
	background-color:blue;
	border-bottom-color:black;
	border-bottom-width:5px;
	border-left-color:red;
	border-left-width:5px;
	border-right-color:green;
	border-right-width:5px;
	border-top-color:orange;
	border-top-width:5px;
}

a {
	text-decoration:none;
	font-size:30px;
	font-family:courier;
	font-weight:bold;
	color:white;
	
	
}

a:hover{
	color:black;
}

#flag{
	font-family:courier;
	font-size:30px;
	margin-top:90px;
}

#fl2{
	margin-left:500px;
}


#cafe {
	text-align:center;
	font-family:courier;
	font-size:30px;
	color:blue;
	padding-bottom:2px;
	padding-top:30px;
	font-weight:bold;
}

#bot{
	padding-bottom:30px;
}


footer{
	font-weight:bold;
	background-color:white;
	font-family:courier;
}

h2{
	padding-top:60px;
}

